@media (width <= 1760px) {
    .about__name::before, .about__name::after {
        display: none;
    }
}

@media (width >= 1760px) {
    .content-desc>h3 {
        font-size: 36px;
    }
    .content-desc>p {
        font-size: 21px;
    }
}