@media (width <=1760px) {
    .about__name::before, .about__name::after {
        display: none;
    }
}

@media (width >=1760px) {
    .content-desc>h3 {
        font-size: 36px;
    }

    .content-desc>p {
        font-size: 21px;
    }
}

@media (width <=1560px) {
    header, main, footer {
        width: calc(100% - 3%);
    }
}

@media (width <=1260px) {
    .header__menu {
        gap: 6px;
    }

    .header__menu-link {
        padding: 12px 32px;
    }


    .header__circle {
        width: 14px;
        height: 14px;
    }

    .header__img {
        gap: 21px;
    }

    .content__item {
        font-size: 16px;
        line-height: 22px;
    }

    .content__icon {
        padding: 0px 28px;
    }

    .content-desc {
        gap: 14px;
        padding: 20px;
    }

    .content-desc>h3 {
        font-size: 22px;
        margin-top: 21px;
    }

    .content__head {
        font-size: 42px;
        line-height: 35px;
    }

    .content__right {
        padding-top: 32px;
    }

    .content__link {
        padding: 12px 74px;
        font-size: 18px;
    }

    .content__desc {
        gap: 16px;
    }

    .products__title {
        max-width: 485px;
        font-size: 42px;
        line-height: 53px;
    }

    .products__item {
        min-height: 628px;
        background-size: contain;
    }

    .products__figure img {
        width: 370px;
        height: 401px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .products__desc {
        gap: 8px;
        padding: 23px;
    }

    .products__par {
        font-size: 13px;
        line-height: 22px;
    }

    .products__head {
        font-size: 24px;
        line-height: 32px;
    }

    .about__title {
        width: 100%;
        margin: 0px 22px;
        padding-top: 44px;
        font-size: 42px;
        line-height: 53px;
    }

    .about__desc {
        gap: 12px;
    }

    .about__par {
        max-width: 320px;
        font-size: 12px;
        line-height: 19px;
    }
}

@media (width <=1023px) {
    .about {
        flex-direction: column;
    }

    .about__content {
        width: 100%;
        border-right: none;
    }

    .about__desc {
        background: none;
        aspect-ratio: 0;
        width: 100%;
        padding: 59px;
    }

    .about__desc {
        gap: 24px;
    }

    .about__par {
        max-width: 80%;
        font-size: 24px;
        line-height: 28px;
    }

    .products__item {
        background-size: contain;
    }
}

@media (width <=780px) {
    .content-desc>h3 {
        font-size: 18px;
        margin-top: 21px;
    }

    .content__head {
        font-size: 34px;
        line-height: 38px;
        margin: 0px 12px;
    }

    .content__span {
        font-size: 21px;
    }

    .content__right {
        padding-top: 20px;
    }

    .content__desc {
        gap: 2px;
        padding-bottom: 20px;
    }

    .content-desc>p {
        font-size: 12px;
    }

    .content__text {
        padding: 16px 0px;
    }

    .products__item {
        min-height: 588px;
    }

    .products__figure img {
        width: 340px;
        height: 360px;
    }

    .products__title {
        font-size: 42px;
        line-height: 43px;
    }

    .products__img img {
        height: 68px;
    }

    .footer__contacts {
        flex-direction: column;
        gap: 10px;
    }
}

@media (width <=700px) {

    .content__main {
        width: 100%;
        border-right: none;
    }

    .content__desc {
        display: none;
    }

    .about__desc {
        padding: 32px;
    }

    .content__desc-mobile {
        display: flex;
        padding: 20px;
        margin-top: 32px;
    }

    .content__btn {
        margin-top: 13px;
        margin-bottom: 32px;
    }

    .products__title {
        max-width: 385px;
        font-size: 42px;
        line-height: 53px;
    }

    .products__title {
        font-size: 38px;
        line-height: 41px;
    }

    .content-desc {
        gap: 16px;
        padding: 20px;
        border-bottom: 1px solid #000;
    }

    .products__img img {
        height: 59px;
    }

    .content__right {
        width: 100%;
    }

    .swiper__btn {
        margin: 12px;
    }

    .swiper-btn-prev, .swiper-btn-next {
        display: none;
    }

    .about__par {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (width <=660px) {

    .content__head {
        text-align: center;
    }

    .content__words {
        padding: 15px;
    }

    .products__content {
        padding: 32px 12px;
    }

    .products__img img {
        height: auto;
    }

    .products__title {
        font-size: 32px;
        line-height: 38px;
    }

    .content-desc {
        gap: 12px;
    }

    .content__right-img {
        padding: 15px;
    }

    .products__item {
        min-height: 628px;
    }

    .products__figure img {
        width: 340px;
        height: 411px;
    }

    .swiper__btn {
        /* padding-top: 12px; */
        margin: 22px;
    }

    .image-slider .swiper-pagination-fraction {
        font-size: 12px;
    }

    .illustration {
        padding: 15px;
    }

    .about__video {
        padding: 15px;
    }

    .about__desc:last-child {
        margin-bottom: 32px;
    }

    .about__title {
        margin: 0px 20px;
        padding-top: 34px;
        font-size: 34px;
        line-height: 43px;
    }

    .about__par {
        max-width: 100%;
    }

    footer {
        background-position: center;
    }

    .footer__bg {
        padding: 15px;
    }

    .footer__contacts {
        padding: 20px;
    }
}

@media (width <=380px) {

    .products__desc {
        gap: 2px;
        padding: 15px;
    }

    .products__head {
        font-size: 21px;
        line-height: 22px;
        padding-bottom: 16px;
    }

    .products__img img {
        display: none;
    }

    .products__item {
        min-height: 468px;
    }

    .products__figure img {
        width: 286px;
        height: 284px;
    }


}