@media (width <=1760px) {
    .about__name::before, .about__name::after {
        display: none;
    }
}

@media (width >=1760px) {
    .content-desc>h3 {
        font-size: 36px;
    }

    .content-desc>p {
        font-size: 21px;
    }
}

@media (width <=1560px) {
    header, main, footer {
        width: calc(100% - 3%);
    }
}

@media (width <=1260px) {
    .header__menu {
        gap: 16px;
    }

    .header__menu-link {
        padding: 12px 36px;
    }

    .header__img {
        gap: 21px;
    }

    .content__item {
        font-size: 16px;
        line-height: 22px;
    }

    .content__icon {
        padding: 0px 28px;
    }

    .content-desc {
        gap: 14px;
        padding: 20px;
    }

    .content-desc>h3 {
        font-size: 22px;
        margin-top: 21px;
    }

    .content__head {
        font-size: 42px;
        line-height: 35px;
    }

    .content__right {
        padding-top: 32px;
    }

    .content__link {
        padding: 12px 74px;
        font-size: 18px;
    }

    .content__desc {
        gap: 16px;
    }

    .products__title {
        max-width: 485px;
        font-size: 42px;
        line-height: 53px;
    }

    .products__item {
        min-height: 628px;
        background-size: contain;
    }

    .products__figure img {
        width: 370px;
        height: 401px;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .products__desc {
        gap: 8px;
        padding: 23px;
    }

    .products__par {
        font-size: 13px;
        line-height: 22px;
    }

    .products__head {
        font-size: 24px;
        line-height: 32px;
    }

    .about__title {
        width: 100%;
        margin: 0px 22px;
        padding-top: 44px;
        font-size: 42px;
        line-height: 53px;
    }

    .about__desc {
        gap: 12px;
    }

    .about__par {
        max-width: 320px;
        font-size: 12px;
        line-height: 19px;
    }
}

@media (width <=1023px) {
    .about {
        flex-direction: column;
    }

    .about__content {
        width: 100%;
        border-right: none;
    }

    .about__desc {
        background: none;
        aspect-ratio: 0;
        width: 100%;
        padding: 59px;
    }

    .about__desc {
        gap: 24px;
    }

    .about__par {
        max-width: 80%;
        font-size: 24px;
        line-height: 28px;
    }

    .products__item {
        background-size: contain;
    }
}

@media (width <=780px) {
    .content-desc>h3 {
        font-size: 18px;
        margin-top: 21px;
    }

    .content__head {
        font-size: 34px;
        line-height: 38px;
        margin: 0px 12px;
    }

    .content__span {
        font-size: 21px;
    }
    .content__right {
        padding-top: 20px;
    }
    .content__desc {
        gap: 2px;
        padding-bottom: 20px;
    }

    .content-desc>p {
        font-size: 12px;
    }

    .content__text {
        padding: 16px 0px;
    }

    .products__item {
        min-height: 588px;
    }

    .products__figure img {
        width: 340px;
        height: 360px;
    }

    .products__title {
        font-size: 42px;
        line-height: 43px;
    }

    .products__img img {
        height: 74px;
    }
    .footer__contacts {
        flex-direction: column;
        gap: 10px;
    }
}

@media (width <=560px) {

    .content__main {
        width: 100%;
    }
    .content__desc {
        display: none;
    }

    .about__desc {
        padding: 32px;
    }

    .content__desc-mobile {
        display: flex;
    }

    .content__right {
        width: 100%;
    }
    
    .swiper__btn {
        margin: 12px;
    }

    .swiper-btn-prev, .swiper-btn-next {
        display: none;
    }

    .about__par {
        font-size: 16px;
        line-height: 24px;
    }



}